#main {
  display: inline-flex;
}

/*  đầu tiên bên file HTML muốn select hết thì bấm ctrl shift L rồi kéo tới đầu dấu ngoặc kép rồi bấm tổ hợp shift alt + mũi tên sang phải, vậy là đã select đã hết, xong qua đây paste */
.main {
}
.header {
  z-index: 1; /* để phần header cao hơn phần slider mới hiển thị thanh nav được */
  height: 46px;
  background: #000;
  top: 0;
  left: 0;
  right: 0;
  position: fixed; /* sử dụng position fixed sẽ làm cho header nổi lên cao hơn nên bây giờ slider đứng ở vị trị cũ của header, nên khắc phục tình trạng này chúng ta sẽ dụng margin bằng với chiều cao của header ban đầu là 46px */
  /*   overflow: hidden;  */ /* thằng nào vượt quá thằng cha, nhảy ra ngoài vượt quá chiều cao hoặc chiều ngang sẽ bị ẩn hết */
}
#nav {
  display: inline-flex;
  font-size: 15px;
  text-transform: uppercase;
  list-style-type: none; /* bỏ dấu chấm thẻ li */
}
#nav .subnav {
  display: none;
  list-style-type: none;
  background-color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
#nav li a {
  color: white;
  text-decoration: none; /* bỏ gạch chân thẻ a */
  line-height: 46px; /* căn giữa, có 1 cách xác định chữ có căn giữa trên và dưới không, đó là bôi đen vào, vùng bôi đen cho bằng chiều cao của header thì chữ sẽ căn giữa */
  padding: 0 24px;
  font-family: "Lato", sans-serif;
  display: inline-block; /* thẻ a là thẻ inline nên không có tính chất set chiều rộng là chiều ngang nên phải đổi như vậy mới set được, khi mà hover vào thì nó sẽ đổi nguyên vùng background-color theo line-height */
}
#nav > li:hover > a /* nên hover vào li, đó là kinh nghiệm */ {
  /* muốn kiểm tra hành động như hover, visit, target,.. thì bên dev tool ta bấm vào hình con chuột bên góc trái trên cùng rồi bấm vào chỗ bên web chúng ta muốn xem, rồi sau đó bên dev tool phần styles kiếm chỗ :hov rồi bấm vào, sau đó lựa chọn hành động mình muốn kiểm tra  */
  color: #000 !important;
  background-color: #ccc !important;
  /*   thêm dấu lớn để nó chỉ ảnh hưởng nav thôi chứ không ảnh hướng tới subnav */
}
#nav .subnav li:hover a {
  color: #000 !important;
  background-color: #ccc !important;
  width: 100%;
}
#nav .subnav a {
  color: #000;
  text-transform: capitalize;
  padding: 0 16px; /* thường sử dụng các con số chia hết cho 4 để thiết kể khoảng cách */
  min-width: 160px;
  line-height: calc(22px + 16px);
}
#nav li:hover .subnav {
  display: block;
}
.fa-caret-down:before {
  content: "\f0d7";
}
.fa-caret-down {
  font-size: 14px;
  position: relative;
  left: 2px;
}
.search-icon {
  color: white;
  font-size: 14px;
}
.search-btn {
  float: right;
  line-height: 46px;
  padding: 0 24px;
}
.search-btn:hover {
  background-color: #f44336 !important;
  cursor: pointer;
}
.mobile-menu-btn {
  top: 0;
  right: 0;
  position: absolute;
  color: #fff;
  font-size: 15px;
  line-height: 46px;
  padding: 0px 30px;
  width: 0;
  font-weight: bold;
  text-align: justify;
  display: none;
}
.mobile-menu-btn:hover {
  color: #000 !important;
  background-color: #ccc !important;
  max-width: 100%;
}
.text-heading {
  font-size: 24px;
  font-weight: 400;
  margin: 10px auto;
}
.text-description {
  font-weight: 700;
  font-size: 15px;
  margin-top: 15px;
  font-family: "Lato", sans-serif;
  margin-bottom: 48px;
}
.slider {
  margin-top: 46px;
  background-color: rgba(0, 0, 0, 0.863);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slide {
  position: relative;
}
.slide-img {
}
.content-slider {
  font-size: 24px;
  font-weight: 400;
  font-family: "Segoe UI", Arial, sans-serif;
  color: #fff !important;
  text-align: center;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.navigation-auto {
  position: absolute;
}
.navigation-auto div {
  transition: 1s;
}
.add {
  display: none;
}

.content .content-section {
  max-width: 800px;
  padding: 64px 16px;
  margin-left: auto;
  margin-right: auto;
}
.same-heading {
  text-transform: uppercase;
  text-align: center;
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 4px;
  font-size: 30px;
  margin: 10px 0;
}
.same-title {
  text-align: center;
  font-style: italic;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  margin: 15px 0;
  opacity: 0.5;
}
.intro-content {
  text-align: justify;
  font-family: "Lato", sans-serif;
  line-height: 1.5;
  font-size: 15px;
  margin: 15px 0;
}
.member-lists {
  display: inline-flex;
  justify-content: space-evenly;
  text-align: center;
}
.member-lists .member-item {
  width: 33.333333333%;
  padding: 15px 0;
}
.member-lists .member-name {
  margin: 15px 0;
  font-family: "Lato", sans-serif;
}
.members-img {
  display: inline-block;
  width: 60%;
  border-radius: 4px;
}
.content .tour-ticket {
  background-color: #000;
}
.tour-ticket .tickets-list {
  background-color: #fff;
  margin-top: 30px;
}
.tickets-list li {
  border-bottom: 1px solid #ddd;
  color: #757575 !important;
  list-style-type: none;
  font-family: "Lato", sans-serif;
  font-size: 15px;
  padding: 11px 16px;
  line-height: 1.5;
}
.tickets-list .sold-out {
  margin-left: 16px;
  background-color: rgb(244, 67, 54);
  color: white !important;
  line-height: 1.5;
  padding: 4px 4px;
}
.place-img:hover {
  opacity: 0.6;
  background-color: black !important;
}
.tickets-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  line-height: 24px;
  margin-top: -0.5px; /* chỉnh cho cân xứng nằm ở giữa height */
}
.places-list {
  margin-left: -8px;
  margin-right: -8px; /* thêm vào để cho không có khoảng cách giữa 2 đầu do sử dụng padding left right chung */
  padding-top: 32px;
  padding-bottom: 32px;
  display: inline-flex;
  justify-content: space-evenly;
}
.place-item {
  margin: 0 8px 16px;
  background-color: #fff;
}
.place-content {
  padding: 0 16px;
  font-size: 15px;
}
.place-img {
  width: 100%; /* bằng kích thước của thẻ chứa nó */
  display: block; /* chuyển thành thẻ block để không tạo khoảng cách giữa thẻ img với thẻ div phía sau */
}
.heading {
  margin-top: 15px;
  font-weight: bold;
}
.place-desc {
  margin-top: 15px;
}
.place-time {
  opacity: 0.6;
  margin-top: 15px;
}
.place-buy-btn {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  text-align: center;
  padding: 8px 16px;
  margin-bottom: 16px;
  display: inline-block;
  margin-top: 15px;
}
.place-buy-btn:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.modal {
  font-size: 15px;
  line-height: 1.5;
  font-family: "Lato", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center; /* ba cái này dùng để cho cái modal nằm ở giữa trình duyệt cả chiều ngang lẫn dọc */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; /* set như này giống như chiều cao và chiều rộng của thẻ = cả trình duyệt vì fixed ăn theo trình duyệt */
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
}
.modal-container {
  animation: modalFadeIn ease 0.5s;
  background-color: #fff;
  width: 900px;
  max-width: calc(
    100% - 32px
  ); /* khi thu nhỏ lại vẫn giữ khoảng cách 2 bên trình duyệt là 16px */
  /*   padding-top: 100px; */
  min-height: 200px;
  position: relative;
}
.modal-heading {
  /*   margin: 10px 0; */
  background-color: #009688 !important;
  text-align: center;
  color: #fff !important;
  padding: 32px 16px;
  font-size: 30px;
  font-family: "Segoe UI", Arial, sans-serif;
  letter-spacing: 4px;
  height: 130px;
}
.modal-close {
  font-size: 24px;
  padding: 8px 16px;
  top: 0;
  right: 0;
  position: absolute;
  cursor: pointer;
  opacity: 0.8;
}
.modal-close:hover {
  opacity: 1;
  background-color: #ccc;
  color: #000;
}
.modal-body {
  padding: 0 16px;
  font-size: 14px;
}
.modal-label {
  cursor: default; /* trỏ chuột mặc đinh */
  display: block;
  padding: 15px 0;
}
.label-input {
  padding: 8px 8px;
  width: 100%;
}
.buy-ticket {
  text-transform: uppercase;
  color: #fff !important;
  background-color: #009688 !important;
  width: 100%;
  padding: 16px 16px;
  margin: 16px 0;
  border: none;
  cursor: pointer;
}
.buy-ticket:hover {
  color: #000 !important;
  background-color: #ccc !important;
}
.modal-help {
  margin: 15px 0;
  text-align: right;
}
.help {
  color: #2196f3;
  text-decoration: underline;
}
.modal.open {
  display: flex; /* thêm class này để js add nào class modal để khi click vào nó bật lên */
}
.fas {
  width: 30px; /* đặt width cho icon để đảm bảo các chữ phía sau icon luôn đều nhau tại vì thực tế có nhiều icon kích thước ko bằng nhau khi đưa vào web */
}
.contact {
  padding: 0 0 64px 0;
}
.contact-detail {
  padding: 32px 0;
}
.contact-content {
  font-size: 18px;
  width: 100%;
  line-height: 1.5;
  display: inline-flex;
  justify-content: space-between;
}
.contact-info {
  margin-bottom: 16px;
}
.contact-form {
  width: 50%;
  text-align: left;
}
.two-input {
  display: inline-flex;
}
.one-input {
  margin-top: 8px;
}
.control-distance-input {
  margin-right: 16px;
}
.form-control {
  border: 1px solid #ccc;
  padding: 11px 10px;
  width: 100%;
}
.one-input {
  max-width: 100%;
}
.send-input {
  margin-top: 8px;
  float: right;
  background-color: #000;
  color: white;
  padding: 11px 17px;
  border: none;
}
.send-input:hover {
  color: #000 !important;
  background-color: #ccc !important;
  cursor: pointer;
}
.map {
  width: 100%;
}
.footer {
  padding: 64px 16px;
  text-align: center;
  font-size: 24px;
  background: #f1f1f1;

  opacity: 0.6;
}
.hover-icon:hover {
  opacity: 0.6;
}
/* ở đây di chuyển trỏ chuột tới vị trí đầu của chữ rồi ấn giữ alt + shift,, dùng chuột bấm lên các hàng trên, sau đó bấm dấu chấm, để selector vào class, rồi sau đó bấm shift alt + mũi tên phải để chuyển tới vị trí cuối cùng, rồi bấm {}, thế là xong */

.open-nav {
  height: auto; /* sử dụng dev tool để xem, console.log(variable.clientHeight) */
}
@keyframes modalFadeIn {
  from {
    opacity: 0;
    transform: translateY(-150px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
/* cái này là nhiều ảnh tĩnh kết hợp animation sẽ thành ảnh động */
@media (max-width: 800px) {
  /*  nhỏ hơn hoặc bằng 800px thì css sẽ chạy */
}
@media (min-width: 800px) {
  /* lớn hơn hoặc bằng 800px thì css mới chạy */
}

/* PC: >= 1024px
Tablet: >= 740px & < 1024px
Mobile: < 740px */

/* responsive mobile */
@media (max-width: 740px) {
  #nav {
    display: block;
  }
  #nav li a {
    display: block;
  }
  #nav > li:first-child {
    display: inline-block;
  }
  .search-icon,
  .text-heading,
  .text-description,
  .nav-more {
    display: none;
  }
  .mobile-menu-btn {
    display: block;
  }
  .header {
    overflow: hidden;
  }
  .member-lists {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
  .member-lists .member-item {
    width: 100%;
  }
  .places-list {
    display: block;
  }
  .contact-content {
    display: block;
  }
  .contact-form {
    width: 100%;
  }
  .two-input {
    display: block;
  }
  .control-distance-input {
    margin-bottom: 8px;
  }
}
